@import url('https://fonts.googleapis.com/css2?family=Madimi+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* body{
    background-image: url(../images/image1.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
} */
.heading {
    font-family: "Madimi One", sans-serif;
    font-size: 36px;
}

#paragraph {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;

}

.container {
    font-family: 'Poppins', sans-serif;
    background-color: darksalmon;
}

.title {
    font-weight: 700;
    font-size: 36px;
    text-transform: uppercase;

}

.article {
    font-weight: 300;
    text-transform: lowercase;
    line-height: 2;
}

.box1 {
    background-color: brown;
    color: aliceblue;
    padding: 10px 20px 5px 40px;
}

.box1 h1{
    border: 2px solid #fff;
    border-radius: 20px;
    padding: 20px;
}

.box2 {
    background-color: darkcyan;
    margin: 40px auto;
    padding: 20px 40px 10px;
    width: 300px;

}