.heading{
    
    color: #fff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.article {
    background-color: #0051ff;
    margin: 20px 40px;
    padding: 30px;
    border: 8px solid #ff6600;
    border-radius: 20px;
}
hr{
    margin: 80px 40px;
}
svg{
    color: #ff6600;
}
a{
    text-decoration: none;
}

a{
    font-size: large;
}
a:link{
    color: #6600ff;
}
a:visited{
    color: #00ff0d;
}
a:hover{
    color: #00ffcc;
}
a:active{
    color: #ff00bf;
}

ol>li{
    list-style-type: none;
}

ul>li{
    list-style-type: none;
}
