/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap-reverse; */
    /* gap: 10px;
    background: #00eaff;
    width: 100%;
    padding: 20px;
    margin: 20px;
}
.container div{
    background: #ffd500;
    padding: 10px;
    margin: 5px;
}
.box-1{
    background: #eb3a3a;
    margin:10px;

}
.box-2{
    background: #2156f6;
    margin:10px;
}


    /* flex-direction:column; /*Column*/
    /* justify-content: space-around; Main Axis - Y */
    /* align-items: flex-end; Cross Axis - X */ 

    /* flex-direction:row; Row */
    /* justify-content: center; Main Axis - X */
    /* align-items: center; Cross Axis - Y */
    .content-alignment{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        gap:15px;
        background: #733b07;
        width: 100%;
        height: 500px;
        padding: 20px;
        margin: 20px;
    } 
   
.content-alignment div{
    background: #fffcfc;
    padding: 10px;
}
.box1{
    /* order:1; */
    flex-grow: 1;
 }
.box2{
   /* order:0; */
   flex-grow: 3;
 }
 .box3{
    /* order:2; */
   /* flex-grow: 1; */
flex-shrink: 1;
 }
/*.box-spacing{ 
    display: flex;
    flex-wrap:wrap ;
    align-items: flex-start;
    align-content:flex-start;
    gap: 10px;
    background: #a00707;
    height: 500px;
    width: 100%;
    padding: 30px;
    
 }
 .box-spacing div{
    background-color: aliceblue;
    padding: 20px;
 }
 .box2{
    flex-basis: 200px;  
    flex: 1 1 0;
 }
 
 .box20{
    flex-grow: 1;
   flex-basis: 100px; 
   

 }
 .box16{
    flex:0 2 0;
 } */