.container{
    margin: 5px;
    border: 5px solid rgb(240, 44, 0);
    display: grid;
    /* grid-template-columns: 150px; */
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    /* grid-template-rows: repeat(2, 60px); */
    /* grid-auto-columns: 100px; */

    gap:10px;
}
.container div{
    padding: 20px 40px;
    background: #ffdd00;
}

.container .box-5{
    padding: 20px 40px;
    background: #00ff59;
    grid-area: 1/5/2/6;
    z-index: 1;
    opacity: 0.5;
    
}

.container .box-15{
    padding: 20px 40px;
    background: #ff006f;
    color: #fff;
    grid-area: 1/5/2/6;
}