@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}
body{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-areas: 'header header header'
                        'navbar main-content sidebar'
                        'footer footer footer';
    grid-template-columns:1fr 1fr 1fr ;
    grid-template-rows: 60px 1fr 60px;
}

.header,
.navbar,
.main-content,
.sidebar,
.footer{
    padding: 20px;
    border: 2px solid #000;
    color:#fff;
    font-weight: 600;
    text-align: center;
}

.header{
    background: #058c42;
    grid-area:header;
}

.navbar{
    background: #553e4e;
    grid-area:navbar;
}
.main-content{
    background: #7a306c;
    grid-area:main-content;
}
.sidebar{
    background: #053d8c;
    grid-area:sidebar;
}
.footer{
    background: #ffbf00;
    grid-area:footer;
}