*{
    margin: 0;
    padding: 0;
}
.navbar{
    position:sticky;
    width: 100%;
    top: 0px;
    left: 0;
    background: #242424;
    color: #fff;
    margin-top: 50px;
}

.menu-list > li {
    list-style-type: none;
    display: inline-block;
    margin: 25px auto;
}

p{
    width: 80%;
    margin: 25px auto;
    text-align: justify;
}
.blog{
    margin-top: 100px;
}
.popup{
    position: relative;
    background: #057aff;
    color: #fff;
    padding: 20px;
    width: 50%;
    margin: 30px auto;
}

.popup svg{
    position: absolute;
    top:10px;
    right: 15px;
}