@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    /* color: black; */
    font-family: 'Courier New', Courier, monospace;
}
/* 
color:
colorName
html color
RGB
HEXACode

16 M

 */
.article{
    background-color: #313638;
    color: #ffffff;
    font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}
.section{
    background-color: #D81E5B;
    color:#F5EE9E;
    font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}
#link1{
    color:#73BFB8;
    text-decoration: underline;
}