body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/* table, th,td{
    border: 1px solid rgb(255, 13, 13);
} */
table{
    border-collapse: collapse;
    width: 100%;
}
th{
    padding: 10px 5px;
    background: #005eff;
    color: aliceblue;
}
td{
    padding: 10px;
}
tr:nth-child(even){
    background-color: rgb(225, 235, 255);
}
/* .second-row{
    text-align: center;
} */

tr:nth-child(odd):hover{
    background-color: rgb(208, 208, 208);
}